AUTH_USERS=admin,user
AUTH_PASSWORDS=admin_passwort,user_passwort
AUTH_NAMES=Administrator,Benutzer
AUTH_ROLES=admin,user
AUTH_COOKIE_KEY=ein_geheimer_schluessel
BETRACHTUNGSZEITRAUM=01.01.2025 – 31.03.2025
DATENIMPORT_ZEITPUNKT=15.04.2025
EXCLUDE_ZERO_GOAE=true
